# Application Port
PORT=3000
FALLBACK_LANGUAGE=en

# MongoDB Connection
# Set to remote URI in production
MONGODB_URI=mongodb://mongodb:27017/ays

# Cache Configuration
CACHE_TTL=600

# Security (MUST BE CHANGED IN PRODUCTION)
JWT_SECRET=your-super-secret-jwt-key-here
SEED_ADMIN_SECRET=ays-admin-seed-secret-here
SEED_ALL_SECRET=ays-all-seed-secret-here
INITIAL_ADMIN_PASSWORD=Mypassword123!

# Allowed Frontend URL for CORS
FRONTEND_URL=http://localhost:3000